.jumbotron h1, p
	text-align: center

.col-md-3
	border: 2px solid black
	margin: 3px
	background-color: green
	height: 75px;
	width: 20%
	text-align: center
	
*
	border-class: inherit

.row
	margin: auto
	// doesn't work, tried to center the seats on the page.
	
#important
	color: red
	
	